---
import SocialMedia from "./SocialMedia.astro";
---

<section
  class="bg-transparent/[0.3] white w-full p-4 mb-0 pt-8 flex flex-col justify-center gap-4 items-center"
>
  <SocialMedia size="short" />
  <p class="text-gray-400 text-sm text-pretty">
    © All right res... I'm joking! is an Open source project. Feel free to make
    me Pr for improvements.
  </p>
  <p class="text-gray-400 text-sm">Inspired in Midudev's portfolio project</p>
</section>
