<header
  class="fixed top-0 z-10 flex flex-wrap items-center justify-around w-full mx-auto py-2 bg-transparent/[0.3]"
>
  <span class="text-center">ELEGIDO A DEDO</span>
  <nav>
    <ul class="flex justify-center md:justify-end gap-4 md:gap-12">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
