---
import SocialMedia from "./SocialMedia.astro";
---

<div
  class="flex flex-wrap w-auto py-16 items-center justify-center gap-12 text-balance"
>
  <picture>
    <img
      width="200"
      class="rounded-full border-gray-800 shadow-2xl"
      src="images/colorfull-photo.jpeg"
      alt="profile photo"
    />
  </picture>
  <section>
    <h2>Hello world! I'm Jose.</h2>
    <h1><span class="glowText">Front-end Developer</span></h1>
    <h2 class="mb-8">Based in Barcelona</h2>
    <SocialMedia />
  </section>
</div>

<style>
  .glowText {
    text-transform: uppercase;
    color: #d69111;
    animation: glow 1.2s linear infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #d69111;
    }
    to {
      text-shadow:
        0 0 30px #f7a815,
        0 0 10px #e59b13;
    }
  }
</style>
