---
import Footer from "../components/Footer.astro";
interface Props {
  metaDescription: string;
}

const { metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overscroll-behavior: none;
    background: linear-gradient(45deg, #2f0662 15%, #051e64 30%, #192032 85%)
      no-repeat;
    color: #fff;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
</style>
